@font-face {
  font-family: 'SonicHUD';
  src: url('/src/assets/fonts/Sonic1HUD-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UndertaleBattle';
  src: url('/src/assets/fonts/Undertale-Battle-Font.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
