@use '../abstracts/variables' as *;

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: $space-3;

  &__label {
    font-size: $text-sm;
    color: $color-text-secondary;
  }

  &__segments {
    flex: 0 0 110px;
    display: flex;
    padding: 1px;
    border: 1px solid $green;
    border-radius: 4px;
  }

  &__segment {
    flex: 0 0 10%;
    border-radius: 2px;
    border: 1px solid $grey-900;
    background: $color-border;
    transition: background 120ms ease;

    &.is-filled {
      background: $color-text-muted;
    }
  }

  &--authority {
    .status-bar__segment.is-filled {
      background: $color-highlight;
    }
    .status-bar__segment.is-filled.is-low {
      background: $color-danger;
    }

    .status-bar__segment.is-filled.is-mid {
      background: $color-warning;
    }

    .status-bar__segment.is-filled.is-high {
      background: $color-success;
    }
  }

  &--stress {
    .status-bar__segment.is-filled.is-low {
      background: $color-success;
    }

    .status-bar__segment.is-filled.is-mid {
      background: $color-warning;
    }

    .status-bar__segment.is-filled.is-high {
      background: $color-danger;
    }
  }
}
