@use '../abstracts/_variables.scss' as *;

.debug-challenge {
  padding: 2rem;
  color: #e0e0e0;
  background: $color-surface;
  border-radius: $radius-md;

  &__desc {
    font-size: $text-md;
    margin-top: 0;
    margin-bottom: $space-2;
    font-family: $font-family-accent;
  }

  &__code {
    background: $color-surface-2;
    padding: $space-4;
    border-radius: $radius-sm;
    font-family: $font-family-decorative;
    color: $color-highlight;
    margin-bottom: $space-5;
  }

  &__instruction {
    font-family: $font-family-decorative;
    margin-bottom: $space-4;
  }

  &__dropzone {
    // min-height: 150px;
    // border: 2px dashed $color-border;
    // padding: $space-4;

    background: $color-surface-2;
    border-radius: $radius-sm;
    margin-bottom: $space-5;
    transition: background 0.2s;

    // padding-left: 20px;

    &-cell {
      font-family: $font-family-decorative;
      background: $color-surface-2;
      border: 2px dashed $color-border;
      border-radius: $radius-sm;
      padding: $space-1;
      margin-bottom: $space-2;
      transition: background 0.2s;
    }

    &.drag-over {
      background: $color-surface;
      border-color: $color-success;
    }
  }

  // &__drop-item {
  //   font-family: $font-family-decorative;
  //   background: #3a4a6a;
  //   padding: 0.5rem 1rem;
  //   margin: 0.5rem 0;
  //   border-radius: 6px;
  //   color: white;
  //   // list-style-type: decimal;
  //   font-weight: 500;
  // }

  &__drag-items {
    display: flex;
    flex-wrap: wrap;
    gap: $space-4;
    margin-bottom: $space-6;
    background: $color-surface-2;
    padding: $space-2 $space-3;
    border-radius: $radius-sm;
  }

  &__drag-item {
    font-family: $font-family-decorative;

    background: $color-surface;
    color: $color-text;
    padding: $space-2 $space-3;
    border-radius: $radius-sm;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition:
      transform 0.1s,
      opacity 0.2s;

    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    &.dragging {
      opacity: 0.5;
      transform: scale(0.95);
    }
  }
}
